<div class="row" xmlns:disabled="http://www.w3.org/1999/xhtml">

  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-12">
      <br />
      <img src="/assets/img/podium2.png" class="img-thumbnail centerImg">
    </div>
  </div>

  <div *ngIf="!name || !emailVerified"
       class="col-md-8 col-md-offset-2">
    <div *ngIf="poloUser"
         class="col-md-12">
      <h2>Espace réservé</h2>
      <img src="/assets/img/bouncer.png">
      <p>Espace réservé aux membre ayant : </p>
      <ul>
        <li>vérifié leur email</li>
        <li>renseigné un pseudo</li>
      </ul>
      <p>Merci de remplir ces conditions <a (click)="redirectOnWelcome()" style="cursor:pointer">à l'accueil</a>.</p>
    </div>
  </div>

  <div *ngIf="name && emailVerified"
       class="col-md-8 col-md-offset-2">

    <div class="row">
      <div class="col-xs-12">
        <h2>Classement</h2>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" style="text-align: center;width: 15%;">#</th>
            <th scope="col" style="text-align: center;width: 40%;">Joueur</th>
            <th scope="col" style="text-align: center;width: 25%;">Stats</th>
            <th scope="col" style="text-align: center;width: 20%;"><span class="badge badge-warning"><img src="favicon.ico" height="16" width="16"></span></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let poloUserToList of poloUsers; let i = index"
              style="text-align: center;">
            <td class="align-middle">{{ i+1 }}</td>
            <td class="align-middle">
              <img class="img-thumbnail"
                     *ngIf="poloUserToList.avatarUrl"
                     src="{{ poloUserToList.avatarUrl }}"
                     style="height:50px;">
              <span *ngIf="poloUserToList.pseudo"> {{ poloUserToList.pseudo }} </span>
              <span *ngIf="!poloUserToList.pseudo"> Mysterio {{ i+1 }}</span>
              <img src="/assets/img/badges/240px-Boulder_Badge.png"
                   *ngIf="hasBadge(poloUserToList.badges, 'roche')"
                   title="Badge Roche - Divise par 2 le temps d'attente à la Polo-Roulette."
                   style="height:15px;">
              <img src="/assets/img/badges/240px-Cascade_Badge.png"
                   *ngIf="hasBadge(poloUserToList.badges, 'cascade')"
                   title="Badge Cascade - Multiplie par 2 les gains à la Polo-Roulette."
                   style="height:15px;">
              <img src="/assets/img/badges/240px-Earth_Badge.png"
                   *ngIf="hasBadge(poloUserToList.badges, 'terre')"
                   title="Badge Terre - :)"
                   style="height:15px;">
              <img src="/assets/img/badges/240px-Thunder_Badge.png"
                   *ngIf="hasBadge(poloUserToList.badges, 'eclair')"
                   title="Badge Eclair - Le bouton de gain apparaît plus fréquemment à la table 'Flash'."
                   style="height:15px;">
            </td>
            <td class="text-right">
              Chance <span class="badge badge-primary text-left">{{ poloUserToList.stats['chance'] }}</span>
              <br />
              Intelligence <span class="badge badge-primary badge-pill">{{ poloUserToList.stats['intelligence'] }}</span>
              <br />
              Rapidité <span class="badge badge-primary">{{ poloUserToList.stats['rapidite'] }}</span>
            </td>
            <td class="align-middle">{{ poloUserToList.polodollars }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
